{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
  
    <h1>Crossmix.io</h1>
  

    <form method="POST" action="/mix/create">
        {% csrf-field %}
        <input type="text" name="youtube_video" placeholder="Youtube Video Source" class="form-control"><br/>
        <input type="text" name="youtube_audio" placeholder="Youtube Audio Source" class="form-control"><br/>
        <input type="submit" class="btn btn-primary btn-lg" value="Crossmix!">
      </form>

  
  </div>

 
{% endblock %}
